<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HomeBudget</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/fontawesome-free-5.0.13/web-fonts-with-css/css/fontawesome-all.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/fontawesome-free-5.0.13/web-fonts-with-css/css/fontawesome-all.min.css" />
    </environment>

    @RenderSection("Styles", required: false)

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
        <div class="container">
            <i class="fas fa-home fa-2x" style="color: white"></i>&nbsp;
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HomeBudget</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Expenses" asp-action="List">Moje wydatki</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="ExpensesStatisticsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Statystyki wydatków
                            </a>
                            <div class="dropdown-menu" aria-labelledby="ExpensesStatisticsDropdown">
                                <a class="dropdown-item" asp-controller="ExpensesStatistics" asp-action="MainCategories">Ogólne</a>
                                <a class="dropdown-item" asp-controller="ExpensesStatistics" asp-action="CategoryExpenses">Szczegółowe</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Expenses" asp-action="Add">Dodaj wydatek</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="navbar-text">
                            @User.Identity.Name
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="LogoutAsync">Wyloguj</a>
                        </li>
                    </ul>
                </div>
            }
            else
            {
                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav mr-auto">
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Login">Zaloguj się</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Register">Utwórz konto</a>
                        </li>
                    </ul>
                </div>
            }
        </div>
    </nav>
    <br />
    <div class="container body-content">
        @Html.Partial("_Message")
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - HomeBudget</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery-3.3.1.js"></script>
        @*<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>*@
        <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery-3.3.1.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
