@model List<HomeBudget.ViewModels.ExpensesStatistics.ExpensesPieChartViewModel>

@for (int i = 0; i < Math.Floor(Model.Count() / 2.0); i++)
{
    <div class="row">
        <div class="col-sm-6 chart pie-chart">
            <div class="in shadow-lg p-3 mb-5 bg-white rounded">
                <h4 class="title">@Model[i * 2].Title</h4>
                <span class="details">
                    <i class="fas fa-chart-line showDetailsStats" data-toggle="tooltip" title="Pokaż szczegółowe statystyki" data-category-id="@Model[i*2].ExpensesCategoryId"></i>
                </span>
                <canvas id="pie-chart-@(i * 2)"></canvas>
                <div class="legend" id="pie-chart-@(i * 2)-legend"></div>
            </div>
        </div>
        <div class="col-sm-6 chart pie-chart">
            <div class="in shadow-lg p-3 mb-5 bg-white rounded">
                <h4 class="title">@Model[i * 2 + 1].Title</h4>
                <span class="details">
                    <i class="fas fa-chart-line showDetailsStats" data-toggle="tooltip" title="Pokaż szczegółowe statystyki" data-category-id="@Model[i * 2 + 1].ExpensesCategoryId"></i>
                </span>
                <canvas id="pie-chart-@(i * 2 + 1)"></canvas>
                <div class="legend" id="pie-chart-@(i * 2 + 1)-legend"></div>
            </div>
        </div>
    </div>
}
@if (Model.Count() % 2 != 0)
{
    <div class="row">
        <div class="col-sm-6 chart pie-chart">
            <div class="in shadow-lg p-3 mb-5 bg-white rounded">
                <h4 class="title">@Model[Model.Count() - 1].Title</h4>
                <span class="details">
                    <i class="fas fa-chart-line showDetailsStats" data-toggle="tooltip" title="Pokaż szczegółowe statystyki" data-category-id="@Model[Model.Count() - 1].ExpensesCategoryId"></i>
                </span>
                <canvas id="pie-chart-@(Model.Count() - 1)"></canvas>
                <div class="legend" id="pie-chart-@(Model.Count() - 1)-legend"></div>
            </div>
        </div>
    </div>
}